.item-header-menu{
    display: inline;
    color : blue;
}
form{
    display: block;
}

header{
    background-color : #5cdb95;
    padding-left:10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #05386b;
    margin:0;
}

#titulo{
    padding-left: 10px;
    
}

.nav-bar{
    background-color : #5cdb95;
    padding-left:90%;
}

.nav-bar a{
    color: #05386b;
    
}

